

.body-form {
    font-family: 'Arial', sans-serif;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.booking-card {
    background-color: #ecdede;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 20px;
}

.booking-form input,
.booking-form textarea,
.body-form select,
.booking-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.booking-form button {
    background-color: #a78181;
    color: white;
    border: none;
    cursor: pointer;
}

.booking-form button:hover {
    background-color: #906767;
}